h1 {
  font-size: 2em;
  color: #2d183d;
  text-align: center;
  border-bottom: 1px solid #f6f4f8;
  border-top: 1px solid #f6f4f8;
  padding: 20px 0;
}


/*  Button styling  */

button {
    background-color: #e7e7e7;
    border: none;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

button:hover {
        background-color: #555555;
        color: white;

}