/*  Header styling  */

h1 {
  font-family: verdana;
  font-size: 2em;
  color: #2d183d;
  text-align: center;
  border-bottom: 1px solid #f6f4f8;
  border-top: 1px solid #f6f4f8;
  padding: 20px 0;
}


/*  Main text  */

body {
    font-family: arial;
    font-size: 16px;
}


/*  Button styling  */

button {
    background-color: #e7e7e7;
    border: none;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

button:hover {
        background-color: #555555;
        color: white;

}

/*p styling */
p {
    font-family: arial;
    font-size: 18px;
    text-align: center;
}


/*Form styling*/

input[type=number] {
    width: 25%;
    padding: 10px 20px;
    margin: 6px 0;
    box-sizing: border-box;
}

input[type=number]:focus {
    border: 3px solid #555;
}

